<h1>New Figures Page</h1>
<form action="/figures/new" method="post">
  Figure Name:<input id="figure_name" type="text" name="figure[name]" value="">
  <br><br>

  Please pick Titles: <% Title.all.each do |title| %>
    <input id="title_<%= title.id%>"  type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></input>
  <% end %><br><br>

  Or Create a New Title: <input type="text" name="title[name]" value="">
  <br><br>

  Please pick Landmarks: <%Landmark.all.each do |landmark| %>
    <input id="landmark_<%= landmark.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %></input>
  <% end %><br><br>
  Or Create a New landmark: <input type="text" name="landmark[name]" value="">

  <br><br>
  <input type="submit" name="" value="Create New Figure">
</form>
